<h1>Lista de perguntas</h1>
<hr>

<a href="/admin/perguntas/add" class="btn btn-primary bg-purple">Nova pergunta</a>

{{#each perguntas}}
	<div class="card mt-3">
		<div class="card-body">
		<div class="row">
			<div class="col-8">
				<h4 class="text-dark">{{pergunta}}</h4>
			</div>
			<div class="col-4">
				<a href="/admin/perguntas/edit/{{id}}" class="btn btn-warning text-white d-inline">Editar pergunta</a>
				<form action="/admin/perguntas/deletar" method="post" class="d-inline">
					<input type="hidden" name="id" value="{{_id}}">
					<button type="submit" class="btn btn-danger">Deletar pergunta</button>
				</form>
			</div>
		</div>
		</div>
	</div>
{{else}}
<h4 class="mt-3">Nenhuma pergunta cadastrada</h4>
{{/each}}