<h3>Login</h3>
<div class="card">
	<div class="card-body">
		<form action="/usuarios/login" method="post">
			<div class="form-group">
				<label for="email">Email:</label>
				<input type="email" name="email" class="form-control" placeholder="Usuário" required="">
			</div>
			<div class="form-group">
				<label for="senha">Email:</label>
				<input type="password" name="senha" placeholder="Senha" class="form-control" required="">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary bg-purple">Logar</button>
			</div>
		</form>
		<a href="/usuarios/registro" class="btn">Não tem conta? Criar</a>
	</div>
</div>